

img{
    max-height: 50vh;
    border-radius: 50%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.quote {
text-align: center;
padding: 4% 3% 6%;


}