
@media (min-width:992px) {
.burger {
  display: none;
}
.btn-primary{
     background: transparent !important;
     border-color: transparent !important;
     font-size: 1.4rem !important;
     box-shadow: none !important;
 }
.dropdown-item:active {
     background: #e9ecef ;
     border-color: transparent ;
     color: black;
}
.brand-name{
    padding-right: 10rem;
    font-size: 1.7rem;
    font-weight: bold;
      text-decoration: none !important;
    color: white;
    
}

.brand-name:hover{
    color: #D7B19D;
}

}
.navbar {
    font-size:1.4rem;
padding: 3% 4% 5%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    
}








.linkItem{
    text-decoration: none !important;
    color: white;
    padding:7px;
    
    
    

}
.linkItem:hover{
    color: #D7B19D;
}




