.card_body {
    padding: 5%;
    margin: 7% 15%;
    background-color: #FFF6F6;
}

.card_body img {
    margin: auto;
    padding-bottom: 30px;
    width: 12vw;
}

.card_description {
    text-align: justify;
    font-size: 1.1rem;
}

.card_caption {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width:768px) {
    .card_description {
        font-size: 0.8rem;
        text-align: left;
    }
    .card_body {
        width: 50vw;
    }
    .card_body img {
        height: 10vh;
        width: 10vh;
    }
}