.card_body {
    padding: 7% 15%;
}

.card_description {
    text-align: center;
    font-size: 1.3rem;
}

.card_caption {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width:768px) {
    .card_description {
        font-size: 1.1rem;
        text-align: justify;
    }
}