@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #304240;
    line-height: 3rem;
}

.layout {
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.17rem;
    margin: 0 auto;
    padding: 0;
    color: #304240;
}

html, body {
    min-height: 100%;
    background-color: #F2F6F6;
}

/* Navigation bar starts here */

nav {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 14vh;
    padding: 1% 3%;
    width: 90%;
}

.layout nav+div {
    padding-top: 14vh;
}

.destino-header {
    font-size: 2rem;
    margin-top: 2%;
    margin-left: 3%;
}

.destino_logo {
    max-width: 15%;
    text-align: center;
    padding-left: 3%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: darkBlue;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 3px;
    margin: 0 0.5rem;
}

.nav-links {
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-around;
    margin-left: 20%;
}

.nav-item {
    font-size: 1rem;
    color: #304240;
}

.nav-item:hover {
    border-bottom: solid 2px;
    width: fit-content;
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .line1 {
        background-color: #3C5350;
        width: 30px;
        height: 3px;
        margin: 5px;
    }
    .line2 {
        background-color: #3C5350;
        width: 30px;
        height: 3px;
        margin: 5px;
        ;
    }
    .line3 {
        background-color: #3C5350;
        width: 30px;
        height: 3px;
        margin: 5px;
    }
    nav {
        margin: 0 auto;
        display: flex;
        height: 4vh;
        width: 100%;
    }
    .layout nav+div {
        padding-top: 14vh;
    }
    .logo {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .destino_logo {
        max-width: 25%;
        margin-left: 10%;
    }
    .destino-header {
        display: none;
    }
    .hamburger {
        cursor: pointer;
        right: 5%;
        transform: translate(-5%, -50%);
        margin-top: 6%;
        margin-right: 10%;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        position: absolute;
        right: 0px;
        width: 100%;
        top: 18vh;
        font-size: 32px;
        font-weight: bold;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: #00A19D;
    }
    .active {
        transform: translateX(0%);
        z-index: 1;
    }
}

/* Sections starts here */

.button {
    border-radius: 50px;
    font-size: 1.3rem;
    background-color: transparent;
    margin-top: 4%;
    cursor: pointer;
    width: fit-content;
    display: inline-flex;
    border: 2px solid #3C5350;
    padding: 3px 35px;
}

.button a {
    color: #3C5350;
}

.button:hover {
    border-style: groove;
}

.container_section_white {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-around;
}

@media screen and (max-width:768px) {
    .container_section_white {
        flex-direction: column;
    }
    .button {
        font-size: 1rem;
    }
}

/* Footer section starst here */

footer {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 3vh;
    margin-top: 5vh;
}

footer p {
    line-height: 1.2rem;
}

.social a svg:hover {
    cursor: pointer;
    fill: rosybrown;
}

svg {
    padding: 0.7%
}

.container_credits {
    display: flex;
}

.credits {
    font-size: 0.9rem;
    text-align: justify;
    margin: auto;
}

.credits a {
    text-decoration: none;
    line-height: 1.3rem;
}

.credits a:hover {
    color: rosybrown;
}

.instaIcon svg {
    fill: #C13584;
    width: 3rem;
    height: 3rem;
}

.twitterIcon svg {
    fill: #1DA1F2;
    width: 3rem;
    height: 3rem;
    border-radius: 30%;
}

.linkedinIcon svg {
    fill: #0077B5;
    width: 3rem;
    height: 3rem;
    border-radius: 30%;
}

.facebookIcon svg {
    fill: #3B5998;
    width: 3rem;
    height: 3rem;
}

.social {
    margin-bottom: 4vh;
}

@media screen and (max-width:768px) {
    .social svg {
        width: 2.2rem;
    }
}