.container_section_green {
    height: 100vh;
    padding: 5% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    background-color: #78A5A0;
}

.content_green {
    padding: 5% 5% 0;
}

.content_green p {
    text-align: justify;
    font-size: 1.3rem;
}

.container_image {
    padding: 5% 5% 0;
    display: flex;
}

.desk_image {
    height: 50vh;
}

.title_green {
    padding: 3% 0;
    text-align: left;
    font-weight: 950;
}

@media screen and (max-width:768px) {
    .container_section_green {
        flex-direction: column;
    }
    .content_green {
        padding: 6%;
    }
}

@media screen and (max-width:768px) {
    .container_image {
        height: 30vh;
        margin: auto;
    }
    img {
        height: 70vh;
    }
}