.container_section_green {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-around;
    position: relative;
}

.wrapper_section_green {
    background-color: #78A5A0;
    padding: 7% 0 5% 5%;
}

.container_image {
    display: flex;
    flex-direction: column;
    padding: 3% 0 5% 5%;
    margin-top: 3%;
}

.container_image {
    width: 50vw;
    padding-right: 0;
}

img {
    border-radius: 0;
}

.content_green {
    padding: 4% 5% 3% 4%;
}

.content_green p {
    text-align: justify;
    font-size: 1.3rem;
}

.title_green {
    padding: 3% 0;
    text-align: left;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 9%;
}

.description {
    margin-bottom: 3%;
}

.last_line {
    text-align: center;
    font-size: 1.4rem;
}

@media screen and (max-width:768px) {
    .container_section_green {
        flex-direction: column;
    }
    .content_green {
        padding: 6%;
    }
    .container_image {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .container_image img {
        width: 100%;
        height: auto;
    }
    .wrapper_section_green {
        padding: 5%;
    }
}