/* Hero section starts here */

.container_content {
    padding: 3% 5%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.content {
    font-size: 1.3rem;
    padding: 3%;
}

.content p {
    text-align: justify;
}

@media screen and (max-width:768px) {
    .content {
        font-size: 1rem;
    }
}

.title {
    padding: 30px;
    text-align: center;
    font-weight: bolder;
}