/* Hero section starts here */

.container_content {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container_hero_image {
    padding: 0 5%;
    background-repeat: no-repeat;
    background-image: url("../images/hero1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.content {
    font-size: 1.3rem;
    padding: 7% 7% 7% 3%;
    margin-top: 7%;
}

.content p {
    text-align: left;
    margin-right: 50%;
}

@media screen and (max-width:768px) {
    .paragraph {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.3rem;
        margin: 0;
    }
    .container_content {
        flex-wrap: nowrap;
    }
    .content p {
        font-size: 1.2rem;
        text-align: justify;
        margin-right: 0;
    }
    .content {
        padding: 3%;
    }
    img {
        max-width: 50vh;
        margin: auto;
    }
}

.title {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
    font-weight: 700;
    font-size: 36px;
}