.coaching_img {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.description {
    padding: 5vw;
    margin: 0 auto;
    box-sizing: content-box;
    font-size: 1.3rem;
    text-align: justify;
}

.description_section_green p {
    padding: 5vw;
    margin: 0 auto;
    box-sizing: content-box;
    font-size: 1.3rem;
    text-align: justify;
}

.testimonials_container {
    background-color: #DED4D5;
    padding: 5vw;
    margin: 0 auto;
}

.title {
    margin: auto;
    padding: 4%;
    text-align: center;
    margin-bottom: 6%;
}

.title3 {
    margin-left: 5%;
    text-align: left;
    font-size: 1.4rem;
    border-bottom: solid 2px;
    width: fit-content;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 4%;
}

@media screen and (max-width:768px) {
    .row {
        flex-direction: column;
    }
    .title {
        font-size: 1.3rem;
    }
    .description {
        font-size: 1.2rem;
    }
}