.container_section_white {
    padding: 7% 0 5% 5%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-around;
    background-color: #F2F6F6;
}

.content_white {
    padding: 4% 5% 3% 4%;
    margin-top: 15%;
}

.content_white p {
    text-align: left;
    font-size: 1.127rem;
}

.container_image {
    padding: 4% 0 0 4%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
}

.desk5_image {
    height: 30vw;
    padding-right: 0;
}

.span_pink {
    background-color: #DED4D5;
    padding: 5%;
}

.title_white {
    padding: 3% 0;
    text-align: left;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 3%;
    line-height: 3rem;
}

@media screen and (max-width:768px) {
    .container_section_white {
        flex-direction: column;
    }
    .container_image {
        height: 50vh;
        margin: auto;
    }
    .desk5_image {
        max-width: 100%;
        height: auto;
    }
    .content_white {
        padding: 6%;
    }
    .content_white p {
        font-size: 1rem;
        text-align: justify;
    }
}