.container_section_white {
    padding: 7% 5%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: space-around;
    background-color: #F2F6F6;
}

.content_white {
    padding: 5%;
    margin-top: 7%;
}

.content_white p {
    text-align: justify;
    font-size: 1.3rem;
}

.container_image {
    padding: 5% 5%;
    margin-top: 7%;
    display: flex;
}

.nadiacup_image {
    height: 80vh;
}

.title_white {
    padding: 3% 0;
    text-align: left;
    font-weight: 700;
    font-size: 36px;
}

@media screen and (max-width:768px) {
    .container_section_white {
        flex-direction: column-reverse;
    }
    .content_white {
        padding: 6%;
    }
}

@media screen and (max-width:768px) {
    .container_image {
        height: 30vh;
        margin: auto;
    }
    img {
        height: 70vh;
    }
}