 * {
    background-color: #BB7171;
    color: white;
    
}

nav{
font-size:1.7rem;


}
ul {
    list-style-type: none;
}
li{
    display: inline;
    float: right;
    padding: 0.3rem;
}
.linkItem{
    text-decoration: none;
}


