 @import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat:wght@300&display=swap');
 
 
 * {
    background-color: #BB7171;
    color: white;
    box-sizing: border-box;
    font-family:  'Dosis', sans-serif;
    letter-spacing: 0.15rem;
    
    
}

header{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 4%;
}

.services-description{
    padding: 5% 10%;
    font-size: 1.3rem;
    
}
